Language: Cpp
BasedOnStyle: Google
BreakBeforeBraces: Attach
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
SpaceBeforeRangeBasedForLoopColon: true # Precede the colon with a space when and only when it is used as an operator
SpaceAfterTemplateKeyword: true # To be determined
ColumnLimit: 0
UseTab: Never # To be determined
IndentWidth: 4
AccessModifierOffset: -4
IndentCaseLabels: false
SeparateDefinitionBlocks: Never
EmptyLineBeforeAccessModifier: Never
MaxEmptyLinesToKeep: 0
InsertBraces: true
DerivePointerAlignment: false
ReferenceAlignment: Right
PointerAlignment: Right
QualifierAlignment: Custom
QualifierOrder: ["static", "constexpr", "inline", "type", "const"]
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
LineEnding: LF
InsertNewlineAtEOF: true
