Language: Cpp
BasedOnStyle: Google
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeRangeBasedForLoopColon: true # Precede the colon with a space when and only when it is used as an operator
SpaceAfterTemplateKeyword: false # To be determined
ColumnLimit: 0
UseTab: Never # To be determined
IndentWidth: 4
AccessModifierOffset: -4
IndentCaseLabels: false
SeparateDefinitionBlocks: Always
EmptyLineBeforeAccessModifier: Always
InsertBraces: true
FixNamespaceComments: false
DerivePointerAlignment: false
ReferenceAlignment: Right
PointerAlignment: Right
QualifierAlignment: Custom
QualifierOrder: ["static", "constexpr", "inline", "type", "const"]
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
LineEnding: LF
InsertNewlineAtEOF: true
IncludeBlocks: Preserve
